*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Manrope-Light';
    src: url("../fonts/Manrope-Light.ttf");
    font-display: swap;
}
@font-face {
    font-family: 'Manrope-Regular';
    src: url("../fonts/Manrope-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: 'Manrope-Medium';
    font-display: swap;
    src: url("../fonts/Manrope-Medium.ttf");
}
@font-face {
    font-family: 'Manrope-SemiBold';
    font-display: swap;
    src: url("../fonts/Manrope-SemiBold.ttf");
}
@font-face {
    font-family: 'Manrope-Bold';
    font-display: swap;
    src: url("../fonts/Manrope-Bold.ttf");
}
@font-face {
    font-family: 'Manrope-ExtraBold';
    font-display: swap;
    src: url("../fonts/Manrope-ExtraBold.ttf");
}
@font-face {
    font-family: 'UbuntuMono-Bold';
    font-display: swap;
    src: url("../fonts/UbuntuMono-Bold.ttf");
}


a {
    text-decoration: none;
    color: inherit;
}

body {
    font-size: 16px;
    font-family: 'Manrope-Regular', sans-serif;
    background-color: cornsilk;
}

.container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.short__section {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}



/* Header styles */

header {
    padding: 30px 0;
}

.header__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__inner nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Manrope-SemiBold, sans-serif;
    font-size: 16px;
    gap: 30px;
}

.header__inner .btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Manrope-SemiBold, sans-serif;
    font-size: 16px;
    gap: 30px;
}

.btns .login-btn {
    padding: 8px 15px;
    background-color: #FA8F2D;
    color: #fff;
    border-radius: 10px;
}

.btns .reg-btn {
    padding: 8px 15px;
    border: 1px solid #FA8F2D;
    color: #000;
    border-radius: 10px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.logo img {
    height: 45px;
}

.logo span {
    font-size: 24px;
    text-transform: uppercase;
    color: #FA8F2D;
    font-weight: 600;
    font-family: 'UbuntuMono-Bold', monospace;
}



/* About Us page styles */

.about-us__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.about-us__text h1 {
    font-size: 50px;
    font-family: 'Manrope-ExtraBold', sans-serif;
    margin-bottom: 30px;
}
.about-us__text h2 {
    font-size: 30px;
    color: #7d7d7d;
    font-family: 'Manrope-Regular', sans-serif;
}


.about-us__slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;

}

.about-us__slider .slider__title {
    font-family: 'Manrope-Regular', sans-serif;
    font-size: 20px;
    margin-left: auto;
    margin-bottom: 30px;
    color: #7d7d7d;
}

.about-us__btn {
    background-color: #FA8F2D;
    color: #fff;
    font-family: Manrope-SemiBold, sans-serif;
    border-radius: 10px;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 30px;
}

/* slider */

.slider {
    width: 600px;
    height: 480px;
    overflow: hidden;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}

.slider img {
    width: 600px;
    height: 400px;
    object-fit: contain;
}

.slide {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.slider-line {
    height: 200px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease .5s;
}

.slider-nav {
    position: absolute;
    z-index: 2;
    width: 93%;
    display: flex;
    justify-content: space-between;
    top: 50%;
}

.slider-button {
    font-size: 30px;
    background: #FA8F2D;
    outline: none;
    border-radius: 50%;
    color: #fff;
    padding: 10px 18px;
    border: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.slider-button:hover {
    background-color: #ab601d;
}


/* Footer styles */

footer {
    background-color: #1b1b1b;
    padding: 40px 0;
}

.footer__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer__inner nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    color: #e7e7e7;
    font-family: Manrope-SemiBold, sans-serif;
}

.footer__inner .contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    color: #FA8F2D;
}


/* Reg login pages styles */


.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #FA8F2D;
    padding: 30px;
    border-radius: 15px;
    min-width: 400px;
    width: fit-content;
    margin: 0 auto;
}

.form .input__col {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.invalid-error {
    color: #850000;
    font-size: 13px;
    font-family: Manrope-Medium, sans-serif;
}

.info-notif {

}

.info-message {
    position: absolute;
    top: 80px;
    margin: 0 0 0 auto;
    background-color: #00f8ff;
    padding: 10px 20px;
    color: #000;
    border-radius: 10px;
    font-family: Manrope-Medium, sans-serif;
}

.form__input {
    padding: 10px 5px;
    border-radius: 7px;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: Manrope-Regular, sans-serif;
    width: 100%;
}

.form__btn {
    padding: 10px 20px;
    text-align: center;
    background-color: #fff;
    color: #FA8F2D;
    font-family: Manrope-SemiBold, sans-serif;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 10px;
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;
}

.form__span {
    color: #fff;
    font-family: Manrope-Medium, sans-serif;
}
